{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/accountapp.css' %}">
    {% endblock %}

    <div style="max-width: 500px; margin: 4rem auto">
        <div class="mb-2">
            <h4 class="accountapp_main_title">Account Detail</h4>
        </div>
        <div class="text-white" style="margin-bottom: 1rem;">
            <!-- 여기서의 target_user는 view에서 지정한 context_object_name -->
            {% if target_user.profile %}
            <img src="{{ target_user.profile.image.url }}" alt="Profile Image" style="height: 15rem; border-radius: 1rem; margin-bottom: 1rem;">
            <h2>
                {{ target_user.profile.nickname }}

                {% if target_user == user %}
                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
                       class="btn btn-info">Edit</a>
                {% endif %}
            </h2>
            <div>
                <h6 style="display: inline">
                    Our honored memeber since
                </h6>
                <p style="display: inline">
                    {{ target_user.date_joined|date:"Y.m.d" }}
                </p>
            </div>
            <div>
                <h6 style="display: inline">
                    And said, "
                </h6>
                <p style="display: inline">
                    {{ target_user.profile.message }}
                </p>
                <h6 style="display: inline">
                    "
                </h6>
            </div>
            {% else %}
                {% if target_user == user %}
                <a href="{% url 'profileapp:create' %}">
                    Create Profile
                </a>
                {% else %}
                <h2 style="color: #FA00BE">
                    Profile 미등록 유저
                </h2>
                {% endif %}
            {% endif %}

        </div>


        {% if target_user == user %}
            <a href="{% url 'accountapp:account_update' pk=target_user.pk %}">
                <p>
                    Change User Info
                </p>
            </a>
            <a href="{% url 'accountapp:account_delete' pk=target_user.pk %}">
                <p>
                    Delete My Account
                </p>
            </a>
        {% endif %}
    </div>

{% endblock %}