{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/accountapp.css' %}">
    {% endblock %}

    <div style="max-width: 500px; margin: 4rem auto">
        <div class="mb-2">
            <h4 class="accountapp_main_title">Login</h4>
        </div>
        <div class="text-white">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-light col-3 mt-3">
            </form>
        </div>
    </div>

{% endblock %}