
{% load bootstrap4 %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pensionapp.css' %}">
{% endblock %}

<div style="max-width: 500px; background-color: #264257;">
    <div>
        <h5 style="color: #FFFFFF; font-weight: bold; text-decoration: underline;">연금 납입/수령</h5>
    </div>
    <div class="text-white">
        <form action="{% url 'pensionapp:pensiontransaction_create' %}" method="post">
            {% csrf_token %}

            {% bootstrap_form form %}

            <input type="submit" class="btn btn-light btn-sm">
            <input type="hidden" name="pension_pk" value={{ target_pension.pk }}>
        </form>
    </div>
</div>

