{% extends 'base.html' %}
{% load bootstrap4 %}
{% load format_masks %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/assetmasterapp.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/equitytransactionapp.css' %}">
    {% endblock %}

    <div style="margin: 2rem 2rem">
        <div style="margin: 1rem auto;">
            <div style="display: block; margin-bottom: 1rem;">
                <a href="{% url 'pensionapp:pension_detail' pk=target_pension.pk %}" class="btn btn-info" >
                    My Pension
                </a>
                <a href="{% url 'pensionapp:pensionasset_delete' pk=target_pension_asset.pk %}" class="btn btn-light btn-sm">
                    <span class="material-icons">delete</span>
                </a>
            </div>
        </div>
        <div style="display: inline-block; margin: 1rem auto;">
            {% include 'pensionapp/pensionasset_detail_stats.html' with asset=target_pension_asset.asset pension_asset=target_pension_asset %}
        </div>
        <div>
            <div style="display: block;">
                <h3 style=" color: #FFFFFF;">Transactions</h3>
                <div style="display: block; width: 100%;">
                    <div style="display: block; width: 20%; float: left; margin-right: 0.5%;">
                        <div style="margin-bottom: 1rem;">
                            {% include 'pensionapp/pensionassettransaction_create.html' with pension_asset=target_pension_asset %}
                        </div>
                        <div style="display: inline-block;">
{#                            {% include 'equityapp/equitytransaction_export_csv_template.html' with equity=target_equity %}#}
                        </div>
                        <div>
{#                            {% include 'equityapp/equitytransaction_import_csv.html' with equity=target_equity %}#}
                        </div>
                    </div>
                    <div style="display: inline-block; width: 79.5%;">
                        <div>
                            <div style="display: block; width: 100%; ">
                                <h4 style="margin-left: 1rem; color: #FFFFFF;">Records</h4>
                            </div>

                            <div style="display: block; margin-left: 1%;">
                                <table class="equitytransaction_table">
                                    <colgroup>
                                        <col style="width: 10%;">
                                        <col style="width: 5%;">
                                        <col style="width: 5%;">
                                        <col style="width: 10%;">
                                        <col style="width: 5%;">
                                        <col style="width: 5%;">
                                        <col style="width: 15%;">
                                        <col style="width: 2%;">
                                    </colgroup>
                                    <tr>
                                        <th class="equitytransaction_table_th">거래일자</th>
                                        <th class="equitytransaction_table_th">유형</th>
                                        <th class="equitytransaction_table_th">수량</th>
                                        <th class="equitytransaction_table_th">가격</th>
                                        <th class="equitytransaction_table_th">제비용</th>
                                        <th class="equitytransaction_table_th">제세금</th>
                                        <th class="equitytransaction_table_th">비고</th>
                                        <th class="equitytransaction_table_th_delete"><span class="material-icons">delete</span></th>
                                    </tr>

                                    {% include 'pensionapp/pensionassettransaction_list.html' with transaction_list=target_pension_asset.transaction.all|dictsortreversed:"transaction_date" %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}