{% load static %}
{% load format_masks %}
{% load format_masks2 %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/assetmasterapp.css' %}">
{% endblock %}

<div style="display: flex; float:left; width: 250px; height: 250px; margin-right: 2rem;
            align-items: center; justify-content: center; background-color: #FFFFFF;">
    <img src="{{ asset.image.url }}" alt="" style="width: 90%;">
</div>
<div style="display: inline-block;">
    <div>
        <h3 style="display: inline-block; margin-right: 1rem; color:#FFFFFF">
            {{ asset.name }}
        </h3>
        <h5 style="display: inline; margin-right: 1rem; background-color: #264257; color:#FFFFFF">
            {{ asset.ticker }}
        </h5>
        <h5 style="display: inline; background-color: #00C483;">
            <a href="{% url 'pensionapp:pension_detail' pk=pension_asset.pension.pk %}" style="text-decoration: none; color: #081321;">{{ pension_asset.pension.pension_type }}</a>
        </h5>
    </div>
    <div style="margin: 1rem 1rem;">
        <div>
            <table class="assetmasterapp_inverted_table">
                <tr class="assetmasterapp_inverted_table_tr">
                    <th class="assetmasterapp_inverted_table_th">Market</th>
                    <th class="assetmasterapp_inverted_table_th">Currency</th>
                    <th class="assetmasterapp_inverted_table_th">현재가</th>
                    <th class="assetmasterapp_inverted_table_th">자산구분</th>
                </tr>
                <tr class="assetmasterapp_inverted_table_tr">
                    <td class="assetmasterapp_inverted_table_td">{{ asset.market }}</td>
                    <td class="assetmasterapp_inverted_table_td">{{ asset.currency }}</td>
                    {% if asset.currency == 'USD' %}
                        <td class="assetmasterapp_inverted_table_td">{{ asset.current_price|currency_usd }}</td>
                    {% elif asset.currency == 'KRW' %}
                        <td class="assetmasterapp_inverted_table_td">{{ asset.current_price|currency_krw }}</td>
                    {% else %}
                        <td class="assetmasterapp_inverted_table_td">{{ asset.current_price|intcomma }}</td>
                    {% endif %}
                    <td class="assetmasterapp_inverted_table_td">
                        {% if asset.pension_non_risk_asset_flag %} 안전자산
                        {% else %} 위험자산
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div style="display: inline-block">
                <table class="assetmasterapp_inverted_table">
                    <tr class="assetmasterapp_inverted_table_tr">
                        <th class="assetmasterapp_inverted_table_th">보유수량</th>
                        <th class="assetmasterapp_inverted_table_th">수익률(MV)</th>
                        <th class="assetmasterapp_inverted_table_th">수익률(FIFO)</th>
                    </tr>
                    <tr class="assetmasterapp_inverted_table_tr">
                        <td class="assetmasterapp_inverted_table_td">{{ pension_asset.quantity|int_number }}</td>
                        <td class="assetmasterapp_inverted_table_td">{{ pension_asset.rate_of_return_mv|percentage_rate_format }}</td>
                        <td class="assetmasterapp_inverted_table_td">{{ pension_asset.rate_of_return_fifo|percentage_rate_format }}</td>
                    </tr>
                </table>
            </div>
            <div style="display: inline-block">
                <table class="assetmasterapp_inverted_table">
                    <tr class="assetmasterapp_inverted_table_tr">
                        <th class="assetmasterapp_inverted_table_th">총보유가치</th>
                        <th class="assetmasterapp_inverted_table_th">총배당수령액</th>
                        <th class="assetmasterapp_inverted_table_th">평균매입단가(MV)</th>
                        <th class="assetmasterapp_inverted_table_th">평균매입단가(FIFO)</th>
                    </tr>
                    <tr class="assetmasterapp_inverted_table_tr">
                        <td class="assetmasterapp_inverted_table_td">{{ pension_asset.total_amount|currency_krw }}</td>
                        <td class="assetmasterapp_inverted_table_td">{{ pension_asset.total_dividend_amount|currency_krw }}</td>
                        <td class="assetmasterapp_inverted_table_td">{{ pension_asset.average_purchase_price_mv|currency_krw }}</td>
                        <td class="assetmasterapp_inverted_table_td">{{ pension_asset.average_purchase_price_fifo|currency_krw }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>