{% load static %}
{% load format_masks %}
{% load bootstrap4 %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pensionapp.css' %}">
{% endblock %}

<div style="margin-bottom: 0.3rem;">
    <table>
        <colgroup>
            <col span="1" style="width: 15rem;">
            <col span="1" style="width: 11rem;">
            <col span="1" style="width: 11rem;">
            <col span="1" style="width: 11rem;">
            <col span="1" style="width: 11rem;">
            <col span="1" style="width: 11rem;">
            <col span="1" style="width: 11rem;">
        </colgroup>
        {% if foreigncurrency.currency == 'USD' %}
            <tr style="background-color: #005236; color: #081321;">
        {% elif foreigncurrency.currency == 'KRW' %}
            <tr style="background-color: #008558; color: #081321;">
        {% else %}
            <tr style="background-color: #00D18B; color: #081321;">
        {% endif %}
            <th rowspan="2" style="border: 1px solid black; text-align: center; ">
                <h3 style="display: inline-block; margin-right: 1rem; font-weight: bold;">{{ foreigncurrency.currency }}</h3>
                {% if list_flag %}
                    <a href="{% url 'exchangeapp:foreigncurrency_detail' pk=foreigncurrency.pk %}"
                       class="btn btn-dark btn-sm" style="display: inline-block;">
                        <span class="material-icons">tune</span>
                    </a>
                {% endif %}
                <a href="{% url 'exchangeapp:foreigncurrency_delete' pk=foreigncurrency.pk %}"
                   class="btn btn-dark btn-sm" style="display: inline-block;">
                    <span class="material-icons">delete</span>
                </a>
            </th>
            <th style="border: 1px solid black; text-align: center; font-weight: bolder;">누적외화매매량</th>
            <th style="border: 1px solid black; text-align: center; font-weight: bolder;">현재환율</th>
            <th style="border: 1px solid black; text-align: center; font-weight: bolder;">누적환율(MV)</th>
            <th style="border: 1px solid black; text-align: center; font-weight: bolder;">누적환율(FIFO)</th>
            <th style="border: 1px solid black; text-align: center; font-weight: bolder;">환차손익(MV)</th>
            <th style="border: 1px solid black; text-align: center; font-weight: bolder;">환차손익(FIFO)</th>
        </tr>
        <tr>
            <td style="border: 1px solid white; text-align: end;">{{ foreigncurrency.current_amount }}</td>
            <td style="border: 1px solid white; text-align: end;">{{ foreigncurrency.current_exchange_rate }}</td>
            <td style="border: 1px solid white; text-align: end;">{{ foreigncurrency.accumulated_exchange_rate_mv|intcomma }}</td>
            <td style="border: 1px solid white; text-align: end;">{{ foreigncurrency.accumulated_exchange_rate_fifo|intcomma }}</td>
            <td style="border: 1px solid white; text-align: end;">{{ foreigncurrency.exchange_rate_of_return_mv|percentage_rate_format }}</td>
            <td style="border: 1px solid white; text-align: end;">{{ foreigncurrency.exchange_rate_of_return_fifo|percentage_rate_format }}</td>
        </tr>
    </table>
</div>



