{% load format_masks %}
{% load format_masks2 %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/equityapp.css' %}">
{% endblock %}

{% for transaction in transaction_list %}
    <tr>
        <td class= "equitytransaction_table_td_center">{{ transaction.transaction_date|date:"Y-m-d h:i:s" }}</td>
        <td class= "equitytransaction_table_td_center">{{ transaction.transaction_type }}</td>
        <td class= "equitytransaction_table_td_center">{{ transaction.quantity }} {{ transaction.foreign_currency.currency }}</td>
        <td class= "equitytransaction_table_td_center">{{ transaction.exchange_rate }} {{ transaction.foreign_currency.exchange.main_currency }}</td>
        <td class= "equitytransaction_table_td_start">{{ transaction.note }}</td>
        <td class= "equitytransaction_table_td_center">
            <a href="{% url 'exchangeapp:foreigncurrencytransaction_delete' pk=transaction.pk %}" style="color: #FA0067;text-decoration: none;">
                X
            </a>
        </td>

    </tr>
{% endfor %}
