{% extends 'base.html' %}
{% load bootstrap4 %}
{% load format_masks %}
{% load format_masks2 %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/portfolioapp.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/exchangeapp.css' %}">
    {% endblock %}

    <div style="margin: 1rem;">

        <div style="display: block">
            <div style="display: block; margin-bottom: 0.5rem;">
                <a href="{% url 'dashboardapp:detail' pk=my_exchange.dashboard.pk %}" class="btn btn-info btn-sm">
                    <span class="material-icons">show_chart</span>
                </a>
                <a href="{% url 'exchangeapp:foreigncurrency_create' %}" class="btn btn-light btn-sm">
                    <span class="material-icons">add</span>
                </a>
                <a href="" class="btn btn-light btn-sm">
                    <span class="material-icons">refresh</span>
                </a>
            </div>
            <div style="display: block">
                <h3 class="exchangeapp_main_title">Exchange Summary</h3>
            </div>
        </div>

        <div style="margin: 1rem;">
            <div style="margin-bottom: 1rem;">
                <table class="portfolioapp_inverted_table">
                    <tr class="portfolioapp_inverted_table_tr">
                        <th class="portfolioapp_inverted_table_th_td">주력 통화</th>
                    </tr>
                    <tr class="portfolioapp_inverted_table_tr">
                        <td class="portfolioapp_inverted_table_th_td">{{ my_exchange.main_currency }}</td>
                    </tr>
                </table>
            </div>

            <div style="border: 1px solid white; width: 80%; height: 20rem; margin-bottom: 1rem;">
                통화별 환차손익현황황 Graph
           </div>

            <div style="margin-bottom: 1rem; color: #FFFFFF;">
                {% for foreigncurrency in queryset_foreigncurrencies %}
                    {% include 'exchangeapp/foreigncurrency_summary.html' with foreigncurrency=foreigncurrency list_flag=True %}
                {% endfor %}
            </div>

        </div>


    </div>


{% endblock %}