{% load format_masks2 %}

{% if asset_count_guardian > 1 %}
    <td rowspan="{{ asset_count_guardian }}"
        style="text-align: center; border: 1px solid black; background-color: #FF9C00; color: #081321; font-weight: bold;">
        <a href="" style="text-decoration: none; color: #000000;">GUARDIAN</a>
    </td>
{% endif %}

{% for guardian in queryset_my_guardians %}
    <tr style="background-color: #FF9C00; color: #081321; font-weight: bold;">
        <td style="text-align: center; border: 1px solid black;">
            <a href="{% url 'guardianapp:guardian_detail' pk=guardian.pk %}" style="text-decoration: none; color: #000000;">
                {{ guardian.asset.ticker }}</a></td>
        <td style="text-align: start; border: 1px solid black;">
            <a href="{% url 'guardianapp:guardian_detail' pk=guardian.pk %}" style="text-decoration: none; color: #000000;">
                {{ guardian.asset.name|asset_name_omit }}</a></td>
        <td style="text-align: center; border: 1px solid black;">{{ guardian.asset.currency }}</td>
        <td style="text-align: center; border: 1px solid black;">{{ guardian.quantity }}</td>
        {% if guardian.asset.currency == 'USD' %}
            <td style="text-align: end; border: 1px solid black;">{{ guardian.asset.current_price|currency_usd }}</td>
            <td style="text-align: end; border: 1px solid black;">{{ guardian.average_purchase_price_mv|currency_usd }}</td>
            <td style="text-align: end; border: 1px solid black;">{{ guardian.average_purchase_price_fifo|currency_usd }}</td>
            <td style="text-align: end; border: 1px solid black;">{{ guardian.total_amount|currency_usd }}</td>
        {% elif guardian.asset.currency == 'KRW' %}
            <td style="text-align: end; border: 1px solid black;">{{ guardian.asset.current_price|currency_krw }}</td>
            <td style="text-align: end; border: 1px solid black;">{{ guardian.average_purchase_price_mv|currency_krw }}</td>
            <td style="text-align: end; border: 1px solid black;">{{ guardian.average_purchase_price_fifo|currency_krw }}</td>
            <td style="text-align: end; border: 1px solid black;">{{ guardian.total_amount|currency_krw }}</td>
        {% else %}
            <td style="text-align: end; border: 1px solid black;">{{ guardian.asset.current_price|intcomma }}</td>
            <td style="text-align: end; border: 1px solid black;">{{ guardian.average_purchase_price_mv|intcomma }}</td>
            <td style="text-align: end; border: 1px solid black;">{{ guardian.average_purchase_price_fifo|intcomma }}</td>
            <td style="text-align: end; border: 1px solid black;">{{ guardian.total_amount|intcomma }}</td>
        {% endif %}
        <td style="text-align: center; border: 1px solid black;">{{ guardian.rate_of_return_mv|percentage_rate_format }}</td>
        <td style="text-align: center; border: 1px solid black;">{{ guardian.rate_of_return_fifo|percentage_rate_format }}</td>
        <td style="text-align: center; border: 1px solid black;">
            <a href="{% url 'guardianapp:guardian_delete' pk=guardian.pk %}" style="text-decoration: none; color: #FA0067;">X</a>
        </td>
    </tr>
{% endfor %}

