{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/dashboardapp.css' %}">
    {% endblock %}

    <div style="margin: 1rem;">

        <div class="dashboardapp_main_title">
            <h3>My Dashboard</h3>
        </div>

        <div style="margin: 1rem;">
            <div style="display: inline-block">
                {% if target_portfolio_pk %}
                    <a href="{% url 'portfolioapp:detail' pk=target_portfolio_pk %}" class="btn btn-info">My Portfolio</a>
                {% else %}
                    {% include 'portfolioapp/create.html' with dashboard=target_dashboard %}
                {% endif %}
            </div>
            <div style="display: inline-block">
                <a href="{% url 'pensionapp:pension_list' %}" class="btn btn-info">My Pensions</a>
            </div>

        </div>

    </div>


{% endblock %}