{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/dashboardapp.css' %}">
    {% endblock %}

    <div style="margin: 1rem;">

        <div class="dashboardapp_main_title">
            <h3>My Dashboard</h3>
        </div>

        <div style="margin: 1rem;">
            <div style="display: inline-block">
                {% if target_portfolio_pk %}
                    <a href="{% url 'portfolioapp:detail' pk=target_portfolio_pk %}" class="btn btn-info">
                        <span class="material-icons">table_chart</span>
                    </a>
                {% else %}
                    {% include 'portfolioapp/create.html' with dashboard=target_dashboard %}
                {% endif %}

                {% if my_exchange_pk %}
                    <a href="{% url 'exchangeapp:myexchange_detail' pk=my_exchange_pk %}" class="btn btn-info">
                        <span class="material-icons">currency_exchange</span>
                    </a>
                {% else %}
                    <a href="{% url 'exchangeapp:myexchange_create' %}" class="btn btn-info">
                        Open Exchange
                    </a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}