{% extends 'base.html' %}
{% load bootstrap4 %}
{% load format_masks %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/assetmasterapp.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/equitytransactionapp.css' %}">
    {% endblock %}

    <div style="margin: 2rem 2rem">
        <div style="margin: 1rem auto;">
            <div style="display: block; margin-bottom: 1rem;">
                <a href="{% url 'portfolioapp:detail' pk=my_portfolio_pk %}" class="btn btn-info">
                    <span class="material-icons">table_chart</span>
                </a>
            </div>
        </div>
        <div style="display: inline-block; margin: 1rem auto;">
            {% include 'equityapp/equity_stats.html' with asset=target_equity.asset equity=target_equity %}
        </div>
        <div>
            <div style="display: block;">
                <h3 style=" color: #FFFFFF;">Transactions</h3>
                <div style="display: block; width: 100%;">
                    <div style="display: block; width: 20%; float: left; margin-right: 0.5%;">
                        <div style="margin-bottom: 1rem;">
                            {% include 'equityapp/equitytransaction_create.html' with equity=target_equity %}
                        </div>
                        <div style="display: inline-block;">
                            {% include 'equityapp/equitytransaction_export_csv_template.html' with equity=target_equity %}
                        </div>
                        <div>
                            {% include 'equityapp/equitytransaction_import_csv.html' with equity=target_equity %}
                        </div>
                    </div>
                    <div style="display: inline-block; width: 79.5%;">
                        <div>
                            <div style="display: block; width: 100%; ">
                                <h4 style="margin-left: 1rem; color: #FFFFFF;">Records</h4>
                            </div>

                            <div style="display: block; margin-left: 1%;">
                                <table class="equitytransaction_table">
                                    <colgroup>
                                        <col style="width: 10%;">
                                        <col style="width: 5%;">
                                        <col style="width: 5%;">
                                        <col style="width: 10%;">
                                        <col style="width: 5%;">
                                        <col style="width: 5%;">
                                        <col style="width: 15%;">
                                        <col style="width: 2%;">
                                    </colgroup>
                                    <tr>
                                        <th class="equitytransaction_table_th">거래일자</th>
                                        <th class="equitytransaction_table_th">유형</th>
                                        <th class="equitytransaction_table_th">수량</th>
                                        <th class="equitytransaction_table_th">가격</th>
                                        <th class="equitytransaction_table_th">제비용</th>
                                        <th class="equitytransaction_table_th">제세금</th>
                                        <th class="equitytransaction_table_th">비고</th>
                                        <th class="equitytransaction_table_th_delete"><span class="material-icons">delete</span></th>
                                    </tr>

                                    {% include 'equityapp/equitytransaction_list.html' with transaction_list=target_equity.transaction.all|dictsortreversed:"transaction_date" target_currency=target_equity.asset.currency %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}