

<div class="diamond_goose_header" style="text-align:left;" >
    <div>
        <div>
            <h1 style="font-size: 3rem;">Diamond Goose MK6</h1>
        </div>

        <div style="font-size: 1.5rem;">
{#            <a href="{% url 'accountapp:temp_welcome' %}" class="link-info" style="text-decoration-line: none;">#}
                <span>Temp Welcome</span>
{#            </a> |#}

{#            {% if user.is_authenticated %}#}
{#                {% if user.dashboard %}#}
{#                    <a href="{% url 'dashboardapp:detail' pk=user.pk %}" class="link-info" style="text-decoration-line: none;">#}
{#                        <span>My Dashboard</span>#}
{#                    </a> |#}
{#                {% else %}#}
{#                    <a href="{% url 'dashboardapp:create' %}" class="link-info" style="text-decoration-line: none;">#}
{#                        <span>Create Dashboard</span>#}
{#                    </a> |#}
{#                {% endif %}#}
{##}
{#                <a href="{% url 'assetmasterapp:list' %}" class="link-info" style="text-decoration-line: none;">#}
{#                    <span>Asset Master</span>#}
{#                </a> |#}
{##}
{#            {% endif %}#}
{##}
{##}
{#            <a href="{% url 'articleapp:list' %}" class="link-info" style="text-decoration-line: none;">#}
{#                <span>Articles</span>#}
{#            </a> |#}
{##}
{##}
{#            {% if user.is_authenticated %}#}
{#                <a href="{% url 'accountapp:detail' pk=user.pk %}" class="link-info" style="text-decoration-line: none;">#}
{#                    <span>My Page</span>#}
{#                </a> |#}
{#                <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="link-info" style="text-decoration-line: none;">#}
{#                    <span>Logout</span>#}
{#                </a> |#}
{#            {% else %}#}
{#                <a href="{% url 'accountapp:create' %}" class="link-info" style="text-decoration-line: none;">#}
{#                    <span>Sign Up</span>#}
{#                </a> |#}
{#                <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="link-info" style="text-decoration-line: none;">#}
{#                    <span>Login</span>#}
{#                </a> |#}
{#            {% endif %}#}
{##}
{#            <a href="{% url 'hozylabapp:lab_home' %}" class="link-danger" style="text-decoration-line: none;">#}
{#                <span>Hozy's Lab</span>#}
{#            </a> |#}

        </div>
    </div>
</div>