{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/assetmasterapp.css' %}">
    {% endblock %}

    <div style="max-width: 500px; margin: 4rem auto">
        <div class="mb-2">
            <h4 class="assetmasterapp_main_title">Register Asset</h4>
        </div>
        <div class="text-white">
            <form action="{% url 'assetmasterapp:create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-light col-3">
            </form>
        </div>
    </div>

{% endblock %}