{% extends 'base.html' %}
{% load bootstrap4 %}
{% load format_masks %}

{% block content %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/equityapp.css' %}">
    {% endblock %}

    <div style="max-width: 500px; margin: 4rem auto">
        <div style="margin: 2rem 0;">
            <h4 class="equitytransaction_main_title">Delete Transaction</h4>
            <h6 style="color: #FFFFFF;">Are you sure to delete this transaction?</h6>
            <div style="width: 30rem; background-color: #264257;">
                <table class="equitytransaction_delete_inverted_table">
                    <tr class="equitytransaction_delete_inverted_table_tr">
                        <th class="equitytransaction_delete_inverted_table_th">거래일자</th>
                        <th class="equitytransaction_delete_inverted_table_th">유형</th>
                        <th class="equitytransaction_delete_inverted_table_th">수량</th>
                        <th class="equitytransaction_delete_inverted_table_th">가격</th>
                        <th class="equitytransaction_delete_inverted_table_th">제비용</th>
                        <th class="equitytransaction_delete_inverted_table_th">제세금</th>
                        <th class="equitytransaction_delete_inverted_table_th">비고</th>
                    </tr>
                    <tr class="equitytransaction_delete_inverted_table_tr">
                        <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.transaction_date|date:"Y.m.d h:i:s" }}</td>
                        <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.transaction_type }}</td>
                        <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.quantity }}</td>

                        {% if target_reits_transaction.equity.asset.currency == 'USD' %}
                            <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.price|currency_usd }}</td>
                            <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.transaction_fee|currency_usd  }}</td>
                            <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.transaction_tax|currency_usd  }}</td>
                        {% elif target_reits_transaction.equity.asset.currency == 'KRW' %}
                            <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.price|currency_krw }}</td>
                            <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.transaction_fee|currency_krw  }}</td>
                            <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.transaction_tax|currency_krw  }}</td>
                        {% else %}
                            <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.price|floatformat:2|intcomma }}</td>
                            <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.transaction_fee|floatformat:2|intcomma  }}</td>
                            <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.transaction_tax|floatformat:2|intcomma  }}</td>
                        {% endif %}

                        <td class="equitytransaction_delete_inverted_table_td">{{ target_reits_transaction.note }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="text-white">
            <form action="{% url 'reitsapp:reitstransaction_delete' pk=target_reits_transaction.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-dark">
                <a href="{% url 'reitsapp:reits_detail' pk=target_reits_transaction.reits.pk %}" class="btn btn-light">취소</a>
            </form>
        </div>
    </div>

{% endblock %}